NODE_ENV=
PORT=
POSTGRES_URL=
JWT_SECRET=
TEST_CLINIC_MOBILE_NUMBER=
TEST_CLINIC_MOBILE_NUMBER_OTP=
API_TOKEN=
TEST_DOCTOR_MOBILE_NUMBER = 
TEST_DOCTOR_MOBILE_NUMBER_OTP = 
AWS_ACCESS_KEY=
AWS_SECRET=
AWS_REGION=
AWS_S3_BUCKET=
IMAGEKIT_BASE_URL=
WEB_SOCKET_PORT=